.col {
    padding: 40px;
    border-bottom: 1px solid rgba(148, 159, 172, 0.4);
    display: flex
}
.image {
    width: 105px;
    height: 105px;
    border-radius: 100px;
}
.caption {
    padding-left: 30px;
    max-width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    color: black;
}
p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    line-height: 20px;
}
button {
    text-transform: uppercase;
    font: 12px 'Open Sans SemiBold';
    margin-right: 30px;
    color: #000;
    cursor: pointer;
    opacity: .7;
    border: none;
    background-color: white;
    padding: 5px;
}